name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - ".github/**"
      - ".graphics/**"
      - "!.github/workflows/**"
  workflow_dispatch:
    inputs:
      tag:
        description: "Image tag set to deploy; e.g. PR number or prod"
        type: string
        default: "prod"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
permissions: {}
jobs:
  vars:
    name: Set Variables
    permissions:
      pull-requests: read # Required for action-get-pr to read PR information
    outputs:
      pr: ${{ steps.pr.outputs.pr }}
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    steps: # Get PR number for squash merges to main
      - name: PR Number
        id: pr
        uses: bcgov/action-get-pr@35514fa1d4765547da319e967b509363598e8b46 # v0.1.0
  deploy-test:
    name: Deploy (TEST)
    permissions:
      contents: read # Required for repository access
    uses: ./.github/workflows/.deploy.yml
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      environment: test
      db_user: appproxy
      tag: ${{ inputs.tag }}

  integration-tests:
    needs: [deploy-test]
    name: Integration Tests for APIs
    permissions:
      contents: read # Required for checkout
    defaults:
      run:
        working-directory: integration-tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        name: [quarkus, fastapi]
        include:
          - name: quarkus
            baseUrl: https://quickstart-openshift-backends-test-backendjava.apps.silver.devops.gov.bc.ca
          - name: fastapi
            baseUrl: https://quickstart-openshift-backends-test-backendpy.apps.silver.devops.gov.bc.ca
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      - name: Install dependencies
        run: npm ci
      - name: Run integration tests
        run: BASE_URL=${{ matrix.baseUrl }} API_NAME=${{ matrix.name }}  node src/main.js

  deploy-prod:
    name: Deploy (prod)
    permissions:
      contents: read # Required for repository access
    needs: [integration-tests, vars]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      environment: prod
      db_user: appproxy
      params: --set global.autoscaling=true
        --set backendPy.pdb.enabled=true
        --set backendGo.pdb.enabled=true
        --set backendJava.pdb.enabled=true
        --set backendGo.deploymentStrategy=RollingUpdate
        --set backendPy.deploymentStrategy=RollingUpdate
        --set backendJava.deploymentStrategy=RollingUpdate
      tag: ${{ inputs.tag }}

  promote:
    name: Promote Images
    needs: [deploy-prod, vars]
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    strategy:
      matrix:
        package: [backend-py, backend-java, migrations-py]
    timeout-minutes: 1
    steps:
      - uses: shrink/actions-docker-registry-tag@f04afd0559f66b288586792eb150f45136a927fa # v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.package }}
          target: ${{ needs.vars.outputs.pr }}
          tags: prod
