name: PR Closed

on:
  pull_request:
    branches: [main]
    types: [closed]

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true
permissions: {}
jobs:
  cleanup:
    name: Cleanup OpenShift and/or Promote Images
    permissions:
      packages: write  # Required for promoting images during PR cleanup
      contents: read   # Required for repository access
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-close.yml@d9b3d32fb3f03c4699c2dce83ddfff042cd31a1f # v1.0.0
    secrets:
      oc_namespace: ${{ vars.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      cleanup: helm
      packages: backend-java backend-py migrations-py
  cleanup_db: # TODO move it off to another action later.
    name: Remove DB User from Crunchy
    permissions:
      contents: read  # Required to read values_file from repository
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-crunchy@9b776dc20a55f435b7c5024152b6b7b294362809 # v1.2.5
        name: Remove PR Specific User
        with:
          oc_namespace: ${{ vars.oc_namespace }}
          oc_token: ${{ secrets.oc_token }}
          oc_server: ${{ vars.oc_server }}
          values_file: charts/crunchy/values.yml
