name: PR

on:
  pull_request:
    branches: [main]

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true
permissions: {}
jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    permissions:
      packages: write # Required for building and pushing images
    if: ! github.event.pull_request.head.repo.fork
    outputs:
      digest: ${{ steps.builds.outputs.digest }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend-java, backend-py, migrations-py]
        include:
          - package: backend-java
            triggers: ('backend-java/')
          - package: backend-py
            triggers: ('backend-py/')
          - package: migrations-py
            triggers: ('backend-py/db')
            build_context: ./backend-py/db
    steps:
      - uses: bcgov/action-builder-ghcr@2b24ac7f95e6a019064151498660437cca3202c5 # v4.2.1
        id: builds
        with:
          build_context: ${{ matrix.build_context }}
          package: ${{ matrix.package }}
          tag_fallback: latest
          triggers: ${{ matrix.triggers }}

  deploys:
    name: Deploys
    permissions:
      contents: read # Required for repository access
    needs: [builds]
    uses: ./.github/workflows/.deploy.yml
    secrets:
      oc_namespace: ${{ vars.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      db_user: app-${{ github.event.number }}
      params: --set global.secrets.persist=false

  results:
    name: PR Results
    needs: [builds, deploys]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
